* {
  background-color: #143447ff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fb0464;
  text-decoration: inherit;
}
a:hover {
  color: #fb0464;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 6px;
  border: 0.7px black transparent;
  padding: 0.6em 1.2em;
  font-size: 1.05em;
  font-weight: 300;
  font-family: inherit;
  background-color: #1d1c1c;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FF0763ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #b4b7b9;
    background-color: #E0E5E8ff;
  }
  a:hover {
    color: #FF0763ff;
  }
  button {
    background-color: #E0E5E8ff;
  }
}
