img {
    width: 100px;
    height: 100px;
    position: absolute;
    left:0;
    top:0;
  }
  
  .topHeader {
    z-index: 999;
    top: 0; 
    background-color:#143447ff;
    border-bottom-width: 2px;
    border-bottom: black;
  }